<html>
    <head>
        <title>Guest Voucher</title>
        <style>
            table {
              border-collapse: collapse;
              border: 1px solid black;
            }

            th,td {
              border: 1px solid black;
            }

            table.a {
              table-layout: auto;
              width: 100%;
            }

            table.b {
              table-layout: fixed;
              width: 180px;
            }

            table.c {
              table-layout: auto;
              width: 100%;
            }

            table.d {
              table-layout: fixed;
              width: 100%;
            }
        </style>
    </head>
    <body style="width:1000px">
        <div class="wrapper">
            <div style="float:left"><img src="{{image_path}}" height="150px"></div>
            <div style="float:right">
                <h1>Anand Tours & Travels</h1>
                <p>Tower-C, SF, Shop No. 09 Vardhaman Enclave,<br>Opp. Hotel Labh Regency, Atladara,<br>Vadodara - 390012
                    <br/>(O) 0265-2338203 (M) : +91 9662045203 / 9925227203
                    <br>EMAIL: anandtours@outlook.com</p>
                </div>
            <center><b><p style="position:relative;top:180px">GUEST VOUCHER</p></b></center>
            <hr style="position:relative;width:100%!important;top:40px">
            </div>
        </div>
        <br>
        <div>
            <br>
            <table style="width:1000px">
                <tr>
                    <td style="padding:10px;width:200px"><b>Booking Date : </b></td>
                    <td style="padding:10px;width:800px">: {{current_date}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Confirmation No.</b></td>
                    <td style="padding:10px;width:800px">: {{confirmation_no}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Property</b></td>
                    <td style="padding:10px;width:800px"> {{hotel | safe}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Name of Guest</b></td>
                    <td style="padding:10px;width:800px"> {{name_of_guest}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Check In</b></td>
                    <td style="padding:10px;width:800px"> {{check_in}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Check Out</b></td>
                    <td style="padding:10px;width:800px"> {{check_out}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>No. Of Pax </b></td>
                    <td style="padding:10px;width:800px"> {{no_of_pax}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Room Nights</b></td>
                    <td style="padding:10px;width:800px"> {{no_of_nights}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>No. Of Rooms</b></td>
                    <td style="padding:10px;width:800px"> {{rooms}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Type Of Rooms </b></td>
                    <td style="padding:10px;width:800px"> {{room_type}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Plan </b></td>
                    <td style="padding:10px;width:800px"> {{meal_plan}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Inclusions </b></td>
                    <td style="padding:10px;width:800px">
                        <ul>
                            {% for i in inclusion %}
                                <li>{{i}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Remark</b></td>
                    <td style="padding:10px;width:800px">All other to be collected directly from the Guest</td>
                </tr>
                <tr>
                    <td style="padding:10px;width:200px"><b>Cancellation Policy </b></td>
                    <td style="padding:10px;width:800px">
                        <ul>
                            {% for i in cancellation_policy %}
                                <li>{{i}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <p><b><u>Please Note:</u></b><br>
            <ul>
                <li>Check in time is 13:00hrs. & check out time is 12:00hrs.</li>
                <li>Early check in and late check out subject to availability.</li>
                <li>Transfer before 07:30am & after 07:00pm will be charge additional @ Rs. 500/-.</li>
            </ul>
        </p>
        <p><b>PS</b> : As Per the Government directive, you are requested to produce guest(Indian Nationality) their
            photo identity document such as <b>Driving License/Pan Card/Voter ID Card/Passport's photocopy etc and For
                Foreign Nationality original Passport and Visa </b> at the point of check in at the hotel. 
            We appreciate your cooperation.</p>
        <br>
        <p>Wishing You a Happy and Safe Journey....</p>
        <p><b><br>For ANAND TOURS & TRAVELS <br>anandtours@outlook.com</b></p>
        </div>

    </body>
</html>