<html>
    <head>
        <title>Quote Voucher</title>
        <style>
            table {
              border-collapse: collapse;
              border: 1px solid black;
            }

            th,td {
              border: 1px solid black;
            }

            table.a {
              table-layout: auto;
              width: 100%;
            }

            table.b {
              table-layout: fixed;
              width: 180px;
            }

            table.c {
              table-layout: auto;
              width: 100%;
            }

            table.d {
              table-layout: fixed;
              width: 100%;
            }
        </style>
    </head>
    <body style="width:1000px">
        <div class="wrapper">
            <div style="float:left"><img src="{{image_path}}" height="150px"></div>
            <div style="float:right">
                <h1>Anand Tours & Travels</h1>
                <p>Tower-C, SF, Shop No. 09 Vardhaman Enclave,<br>Opp. Hotel Labh Regency, Atladara,<br>Vadodara - 390012
                    <br/>(O) 0265-2338203 (M) : +91 9662045203 / 9925227203
                    <br>EMAIL: anandtours@outlook.com</p>
                </div>
            <center><b><p style="position:relative;top:180px">HOTEL VOUCHER</p></b></center>
            <hr style="position:relative;width:100%!important;top:40px">
            </div>
        </div>
        <br>
        <div>
            <p style="position:absolute"><b>Date : {{current_date}}</b></p>
            <p align="right" style="position:relative">Confirmation No. : {{confirmation_no}}</p>
            <br>
            <p><b>{{hotel_name}}</b></p>
            <p>{{address}}</p>
            <table style="border:0px!important">
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Name of the Guest</b></td>
                    <td style="padding:10px;border:0px!important"> : {{guest_name}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Check In</b></td>
                    <td style="padding:10px;border:0px!important">: {{check_in}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Check Out </b></td>
                    <td style="padding:10px;border:0px!important">: {{check_out}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>No of pax</b></td>
                    <td style="padding:10px;border:0px!important">: {{no_of_pax}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>No of Nights</b></td>
                    <td style="padding:10px;border:0px!important">: {{no_of_nights}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Meal Plan</b></td>
                    <td style="padding:10px;border:0px!important">: {{meal_plan}}</td>
                </tr>
            </table>
            <br>
            <table class="a">
                <tr>
                    <th>Room Type</th>
                    <th>Occupancy Type</th>
                    <th>No Of Rooms</th>
                </tr>
                <tr>
                    <td><center>{{room_type}}</td>
                    <td><center>{{occupancy_type}}</td>
                    <td><center>{{no_of_rooms}}</td>
                </tr>
            </table>
            <br>
            <table style="border:0px!important">
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Contact Person</b> </td>
                    <td style="padding:10px;border:0px!important">: {{contact_name}} </td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Mobile No</b></td>
                    <td style="padding:10px;border:0px!important">: {{mobile_no}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Confirmed From Hotel</b></td>
                    <td style="padding:10px;border:0px!important">: {{hotel_name}},{{place}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Confirmed By</b></td>
                    <td style="padding:10px;border:0px!important">: {{contact_position}}</td>
                </tr>
                <tr>
                    <td style="padding:10px;border:0px!important"><b>Place</b></td>
                    <td style="padding:10px;border:0px!important">: {{place}}</td>
                </tr>
            </table>
            <br>
            <p>Please collect all directly.<br>Kindly provide your best service to our VIP Guest.</p><br><br>
                <p><b><br>For ANAND TOURS & TRAVELS<br>anandtours@outlook.com</b></p>
        </div>

    </body>
</html>