<html>
    <head>
        <title>Quote Voucher</title>
        <style>
            table {
              border-collapse: collapse;
              border: 1px solid black;
            }

            th,td {
              border: 1px solid black;
            }

            table.a {
              table-layout: auto;
              width: 100%;
            }

            table.b {
              table-layout: fixed;
              width: 180px;
            }

            table.c {
              table-layout: auto;
              width: 100%;
            }

            table.d {
              table-layout: fixed;
              width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div style="float:left"><img src="{{image_path}}" height="150px"></div>
            <div style="float:right">
                <h1>Anand Tours & Travels</h1>
                <p>Tower-C, SF, Shop No. 09 Vardhaman Enclave, <br>Opp. Hotel Labh Regency, Atladara,<br>Vadodara – 390012 <br>(O) 0265-2338203 (M) : +91 9662045203 / 9925227203<br>EMAIL: anandtours@outlook.com</p>
            </div>
            <hr style="position:relative;width:100%!important">
        </div>
        <div>
            <p><b>Date : {{current_date}}</b></p>
            <p>Dear Sir,<br><br>Greetings from Anand Tours & Travels!!!!!!!!!!!!!!!
                <br><br>Further to your mail please find below details of your package as requested.
            </p>
            <p><b>Duration / Name of Package </b>: {{duration}}</p>
            <p><b>Number of Pax(Adult/Child)</b> : {{no_of_pax}}</p>
            <p><b>No. of rooms </b>: {{rooms}}</p>
            <p><b>Date of Arrival </b> : {{arrival}}</p>
            <p><b>Pickup Place </b>: {{departure}}</p>
            <p><b><h2>Itinerary</h2></b></p>
            {% for i in itinerary %}
                <p>
                    <h3>{{i.title}}</h3>
                    <span style="white-space: pre-line">{{i.description}}</span>
                </p>
            {% endfor %}
        </div>
        <br><br>
        <div>
            <table class="a"><tr><th>Hotel Details</th></tr></table>
            <table class="a">
                <tr>
                    <th>Destination</th>
                    <th>Hotel Names</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Room Type</th>
                    <th>Meal Plan</th>
                </tr>
                {% for i in hotels %}
                <tr>
                    <td><center>{{i.place}}</td>
                    <td><center>{{i.name}}</td>
                    <td><center>{{i.check_in}}</td>
                    <td><center>{{i.check_out}}</td>
                    <td><center>{{i.room_type}}</td>
                    <td><center>{{i.meal_plan}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br><br>
        <div>
            <table class="a"><tr><th>Transportation</th></tr></table>
            <table class="a">
                <tr>
                    <th>Vehicle Category</th>
                    <th>Vehicle Name</th>
                    <th>No of Vehicle</th>
                </tr>
                {% for i in vehicle %}
                  <tr>
                    <td><center>{{i.category}}</td>
                    <td><center>{{i.name}}</td>
                    <td><center>{{i.no_of_vehicle}}</td>
                  </tr>
                {% endfor %}
            </table>
        </div>
        <br><br>
        <div>
            <table class="a"><tr><th>Total Cost</th></tr></table>
            <table class="a">
              <tr>
                <th>Total Package Cost </th>
                <th>{{amount}}</th>
              </tr>
            </table>
        </div>
        <br><br>
        <div>
            <table class="a"><tr><th>Special Service</th></tr></table>
            <table class="a">
                <tr>
                    <th>Date</th>
                    <th>Service</th>
                    <th>Description</th>
                </tr>
                {% for i in special_service %}
                  <tr>
                    <td><center>{{i.date}}</td>
                    <td><center>{{i.service}}</td>
                    <td><center>{{i.description}}</td>
                  </tr>
                {% endfor %}
            </table>
        </div>
        <br><br>
        <h2> Package Inclusion:</h2>
        <ul>
            {% for i in inclusion %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>
        <br>
        <h2> Package Exclusion</h2>
        <ul>
            {% for i in exclusion %}
            <li>{{i}}</li>
            {% endfor %}
        </ul>
        <br><br>
        <h2>Reservation Policy:</h2>
            <ul>
                {% for i in reservation_policy %}
                <li>{{i}}</li>
                {% endfor %}
            </ul>
        <br>
        <h2>Cancellation Policy:</h2>
            <ul>
                {% for i in cancellation_policy %}
                <li>{{i}}</li>
                {% endfor %}
            </ul>
        <br>
        <h2>Terms & Conditions / Note:</h2>
            <ul>
                {% for i in terms %}
                <li>{{i}}</li>
                {% endfor %}
            </ul>
        <br>
        <p><b>Thanks & regards,<br>For ANAND TOURS & TRAVELS<br>VARSHA CHANCHLANI</b></p>
    </body>
</html>